<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fh.mapper.OrderMapper">

    <select id="findOrder" resultType="com.fh.entity.Order">
        select * from shop_order where vipId = #{id}
    </select>


</mapper>